#boton{
    color: black;
    background: bisque;
}
.lenguaje{
    background: salmon;
}

.estilo{
    background: antiquewhite;
}

#titulo{
    color: rgb(226, 159, 76);
    font-size: 20px;
    text-align: center;
}